.search_tours {
  box-sizing: border-box;
  position: fixed;
  top: 215px;
  right: 226px;
  height: 600px;
  width: 509px;
  background-color: white;
  z-index: 20;
  padding: 40px;

  &__title {
    font: $norm 70px $bigNoodleTitling;
    color: $gray;
    text-align: center;
    margin: 0 0 20px 0;
  }

  &__text {
    font: $norm 20px $sans;
    color: $gray;
    margin: 0 0 27px 0;
    text-align: center;
    line-height: 20px;
  }

  &-block {
    width: 100%;
    height: 55px;
    background-color: $cream;
    border-radius: 5px;
    margin-bottom: 23px;

    &__input {
      font: $norm 16px $sans;
      color: $gray;
      border: 0;
      box-sizing: border-box;
      float: left;
      line-height: 45px;
      width: 89%;
      height: 55px;
      background-color: inherit;
      text-indent: 14px;
    }

    &__icon {
      display: block;
      float: left;
      font: $norm 20px $bigNoodleTitling;
      color: $gray;
      line-height: 55px;
    }
  }

  &__submit {
    @include rect_button(55px,$blue,$sans,$white,16px,$bold);
    width: 100%;
    margin: 0 auto;
  }
}
