.bottom_banner {
  @include bg_image('bottom-banner.jpg');
  height: 800px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 200px;

  &__title {
    margin: 0 0 26px 0;
    font: $norm 148px $bigNoodleTitling;
    color: $white;
    line-height: 108px;
    text-align: center;
  }

  &__subtitle {
    font: $norm 50px $bigNoodleTitling;
    color: $white;
    text-align: center;
  }

  &__find_tours {
    @include crcl_button(156px,$blue,$sans,$white,16px,$bold);
    margin: 0 auto;
  }
}