.about_company {
  height: 332px;

  &-find_finder {
    box-sizing: border-box;
    width: 31%;
    float:left;
    padding: 11px;
  }

  &__title {
    font: $norm 30px $bigNoodleTitling;
    color: $gray;
    margin: 77px 0 47px 0;
  }

  &-support {
    box-sizing: border-box;
    width: 20%;
    float:left;
    padding: 11px;
  }

  &-follow {
    box-sizing: border-box;
    width: 25%;
    float:left;
    padding: 11px;
  }

  &-newsletter {
    box-sizing: border-box;
    width: 24%;
    float:left;
    padding: 11px;
  }

  &__contacts {
    font: $norm 15px $sans;
    color: $gray;
    margin-bottom: 13px;
  }

  &__more_info {
    font: $norm 15px $sans;
    color: $gray;
    margin-bottom: 13px;
    display: block;
    text-decoration: none;
  }

  &__social {
    @include crcl_button(44px,$blue,$bigNoodleTitling,$white,16px,$norm);
    list-style-type: none;
    float: left;
    margin: 0 11px 11px 0;
  }

  &-subscription {
    box-sizing: border-box;
    overflow: hidden;
    background-color: $cream;
    border-radius: 5px;
    height: 55px;
    width: 100%;
    padding: 5px;

    &__email {
      border: 0;
      box-sizing: border-box;
      float: left;
      font: $norm 13px $sans;
      color: $gray;
      line-height: 45px;
      width: 67%;
      height: 45px;
      background-color: inherit;
      text-indent: 14px;
    }

    &__submit {
      @include rect_button(45px,$dark_blue,$sans,$white,14px,$bold);
      float:right;
      width: 28%;
    }
  }
}
