.tour_type_area {
  @include bg_image('tour_type_area.jpg');
  height: 707px;
  margin: 0 auto;

  &__title {
    font: $norm 50px $bigNoodleTitling;
    color: $gray;
    text-align: center;
    margin: 110px 100px 45px 100px;
  }

  &__text {
    font: $norm 20px $sans;
    color: $gray;
    text-align: center;
    margin: 0 100px 68px 100px;
  }

  &-list {
    overflow: hidden;
    padding:0;
    margin: 0 auto;

    &-item {
      box-sizing: border-box;
      width: 266px;
      height:266px;
      border-radius: 50%;
      float: left;
      list-style-type: none;
      overflow: hidden;
      background-color: $black;
      margin: 13px;
      position: relative;

      &__img {
        opacity: .6;
      }

      &__title {
        font: $norm 34px $bigNoodleTitling;
        color: $white;
        line-height: 266px;
        text-align: center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: 0;
      }
    }
  }
}



@media screen and (max-width: 1700px) and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .tour_type_area {
    height: 850px;

    &-list {
      width: 584px;
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .tour_type_area {
    height: 850px;

    &-list {
      width: 584px;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {

  .tour_type_area {
    height: auto;

    &__title {
      margin: 45px auto;
    }

    &__text {
      margin: 45px auto;
    }

    &-list {
      width: 100%;

      &-item {
        float: none;
        margin: 13px auto;
      }
    }
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .tour_type_area {
    height: auto;

    &__title {
      margin: 45px auto;
    }

    &__text {
      margin: 45px auto;
    }

    &-list {
      width: 100%;

      &-item {
        float: none;
        margin: 13px auto;
      }
    }
  }
}