.deals_and_discounts {
  @include bg_image('deals_and_discounts.jpg');
  height: 880px;
  margin: 0 auto;
  position: relative;
  padding-top: 118px;

  &__title {
    font: $norm 50px $bigNoodleTitling;
    color: $white;
    text-align: center;
    margin: 0 0 77px 0;
  }

  &-list {
    overflow: hidden;
    padding:0;
    margin: 0 auto;

    &-item {
      height: 587px;
      width: 373px;
      box-sizing: border-box;
      float: left;
      list-style-type: none;
      margin: 0 8px;
      position: relative;
      background-color: $white;

      &__img {
        height: 274px;
      }

      &__title {
        font: $norm 50px $bigNoodleTitling;
        color: $gray;
        text-align: center;
        margin: 54px 0 26px 0;
        line-height: 38px;
      }

      &__text {
        font: $norm 15px $sans;
        color: $gray;
        margin: 0 16px 40px 44px;
      }

      &__button {
        @include rect_button(55px,$dark_blue,$sans,$white,16px,$bold);
        width: 199px;
        margin: 0 auto;
        letter-spacing: 1px;
      }

      &__prise {
        width: 169px;
        height: 56px;
        background-color: $blue;
        position: absolute;
        top: 245px;
        left: 0;
        right: 0;
        margin: 0 auto;
        text-align: center;
      }
    }
  }
}

.prise {
  font: $norm 37px $bigNoodleTitling;
  color: $white;
  line-height: 56px;
}

.old_prise {
  font: $norm 30px $bigNoodleTitling;
  color: $white;
  text-decoration: line-through;
  margin-right: 15px;
}