.banner_area {
  @include bg_image('banner_area.jpg');
  height: 934px;
  margin: 0 auto;
  position: relative;
  padding-top: 302px;

  &__title {
    font: $norm 62px $bigNoodleTitling;
    color: $white;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  &__main_text {
    margin: 0 0 0 90px;
    width: 494px;
    font: $norm 30px $sans;
    color: white;
    position: relative;
  }

  &__text {
    margin: 72px 0 0 23px;
    width: 567px;
    font: $norm 20px $sans;
    color: $white;
    position: relative;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    height: 204px;
    width: 100%;
    background-color: rgba(71, 160, 255,.85);
  }
}


@media screen and (max-width: 1700px) and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) and (min-width: 993px) {

}

@media screen and (max-width: 992px) and (min-width: 769px) {

}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .banner_area {
    &__main_text {
      margin-left: 10px;
    }

    &__text {
      width: auto;
      text-align: center;
      margin: 36px 0;
    }
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .banner_area {
    &__title {
      text-align: center;
    }

    &__main_text {
      width: auto;
      text-align: center;
      margin: 0;
    }

    &__bottom {
      height: auto;
    }

    &__text {
      width: auto;
      text-align: center;
      margin: 36px 0;
    }
  }
}