.banner_area {
  @include bg_image('banner_area.jpg');
  height: 934px;
  margin: 0 auto;
  position: relative;
  padding-top: 302px;

  &__title {
    font: $norm 62px $bigNoodleTitling;
    color: $white;
    margin: 0 0 30px 0;
    text-transform: uppercase;
  }

  &__main_text {
    margin: 0 0 0 90px;
    width: 494px;
    font: $norm 30px $sans;
    color: white;
    position: relative;
  }

  &__text {
    margin: 72px 0 0 23px;
    width: 567px;
    font: $norm 20px $sans;
    color: $white;
    position: relative;
  }

  &__bottom {
    position: absolute;
    bottom: 0;
    height: 204px;
    width: 100%;
    background-color: rgba(71, 160, 255,.85);
  }
}
