$sans: "Open Sans";
$bigNoodleTitling: "BigNoodleTitling",Sans-Serif;
$bold: 700;
$norm: 400;

$blue: rgb(71,160,255);
$dark_blue: rgb(0,111,230);
$cream: rgb(242,242,242);
$gray: rgb(96,96,96);
$dark_gray: rgb(53,53,53);
$black: black;
$white: white;

