.find_trip_area {

  &__title {
    margin: 116px 0 106px 0;
    text-transform: uppercase;
    font: $norm 50px $bigNoodleTitling;
    color: $gray;
    text-align: center;
  }

  &-list {
    padding: 0;
    width: 1593px;
    margin: 0 auto;

    &-item {
      margin: 1px;
      position: relative;
      float: left;
      box-sizing: border-box;
      overflow: hidden;

      &__img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
      }

      &-wrapper {
        display: table-cell;
        vertical-align: middle;
        height: 408px;
        width: 529px;
      }

      &-container {
        z-index: 20;
        position: relative;

        &__title {
          font: 700 26px "Open Sans";
          color: white;
          text-transform: uppercase;
          text-align: center;
          margin: 0 0 15px 0;
        }

        &__text {
          font: 700 15px "Open Sans";
          color: white;
          text-align: center;
          margin: 0;
        }

        &__button {
          @include rect_button(43px,$dark_blue,$sans,$white,14px,$bold);
          width: 154px;
          margin: 43px auto 0 auto;
        }
      }
    }
  }
}


@media screen and (max-width: 1700px) and (min-width: 1201px) {
  .find_trip_area {
    &-list {
      width: 1065px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 1200px) and (min-width: 993px) {
  .find_trip_area {
    &-list {
      width: 980px;
      margin: 0 auto;

      &-item {

        &-wrapper {
          height: 374px;
          width: 485px;
        }
      }
    }
  }
}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .find_trip_area {
    &-list {
      width: 530px;
      margin: 0 auto;
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .find_trip_area {
    &-list {
      width: 480px;
      margin: 0 auto;

      &-item {

        &-wrapper {
          height: 362px;
          width: 470px;
        }
      }
    }
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .find_trip_area {
    &-list {
      width: 320px;
      margin: 0 auto;

      &-item {

        &-wrapper {
          height: 239px;
          width: 310px;
        }
      }
    }
  }
}
