.header-nav {
  background-color: rgba(0,0,0,.75);
  height: 78px;
}

.logo {
  margin: 17px 0 0 22px;
  display: inline-block;
}

.navigation {
  margin-top: 28px;
  float: right;
  display: inline-block;

  &__link {
    margin-left: 52px;
    text-decoration: none;
    font-family: $sans;
    font-size: 20px;
    font-weight: $norm;
    color: $white;
  }

  &__button {
    float: right;
    box-sizing: border-box;
    background-color: black;
    border-radius: 5px;
    color: $white;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px;
    border-style: hidden;
    cursor: pointer;
    margin-top: 17px;
    display: none;
  }
}
