.header {
  position: fixed;
  z-index: 20;
  width: 100%;
  top: -120px;
  transition: top 0.5s ease-out 0.1s;

  &:hover {
    top: 0;
  }

  &__show {
    height: 200px;
    opacity: 0;
  }

  &-main {
    background-color: rgba(0,0,0,.75);
    height: 31px;
    border-bottom: 1px solid rgba(61,65,71,.42);
  }

  &-contacts {
    float: left;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;

    &-item {
      float: left;
      font: $norm 14px $sans;
      color: $white;
      list-style-type: none;
      margin-right: 47px;
    }

    &__link {
      color: inherit;
      text-decoration: none;
      margin-left: 11px;
    }
  }
  &-social {
    float: right;
    margin: 8px 0;
    padding: 0;
    overflow: hidden;

    &-item {
      float: left;
      font: $norm 14px $sans;
      color: $white;
      list-style-type: none;
      margin-right: 47px;
    }

    &__link {
      color: inherit;
      text-decoration: none;
    }
  }

  &-search {
    float: right;
    font: $norm 14px $sans;
    color: $white;
    padding: 8px 39px;
    border-left: 1px solid rgba(61,65,71,.42);

    &__link {
      color: inherit;
    }
  }
}



@media screen and (max-width: 1700px) and (min-width: 1201px) {

}

@media screen and (max-width: 1200px) and (min-width: 993px) {

}

@media screen and (max-width: 992px) and (min-width: 769px) {
  .header {
    &-search {
      padding: 8px 20px;
    }

    &-social {
      &-item {
        margin-right: 10px;
      }
    }
  }
}

@media screen and (max-width: 768px) and (min-width: 480px) {
  .header {
    top: -182px;

    &-main {
      height:auto;
    }

    &-contacts {
      &-item {
        float: none;
        margin: 0 auto 5px auto;
      }
    }

    &-search {
      border: 1px solid rgba(61,65,71,.42);
    }

    &-social {
      clear: both;
      float: none;
      margin: 8px auto;

      &-item {
        margin: 0 auto;
        width: 20%;
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 479px) and (min-width: 320px) {
  .header {
    top: -182px;

    &-main {
      height:auto;
    }

    &-contacts {
      &-item {
        float: none;
        margin: 0 auto 5px auto;
      }
    }

    &-search {
      border: 1px solid rgba(61,65,71,.42);
    }

    &-social {
      clear: both;
      float: none;
      margin: 8px auto;

      &-item {
        margin: 0 auto;
        width: 20%;
        text-align: center;
      }
    }
  }
}

