.header-nav {
  background-color: rgba(0,0,0,.75);
  height: 78px;
}

.logo {
  margin: 17px 0 0 22px;
  display: inline-block;
}

.navigation {
  margin-top: 28px;
  float: right;
  display: inline-block;

  &__link {
    margin-left: 52px;
    text-decoration: none;
    font: $norm 20px $sans;
    color: $white;
  }

  &__button {
    @include rect_button(41px,$black,$sans,$white,18px,$norm);
    width: 93px;
    float: right;
    margin-top: 17px;
    display: none;
  }
}
